[submodule "deps/kvasir/toolchain"]
	path = deps/kvasir/toolchain
	url = https://github.com/kvasir-io/toolchain.git
[submodule "deps/hwlib"]
	path = deps/hwlib
	url = https://github.com/wovo/hwlib.git
